<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
  </head>
  <body>
    <form id="loginForm" class="login-page">
      <div class="form">
        <h3>账户登录</h3>
        <input type="text" placeholder="用户名" name="username" />
        <input type="password" placeholder="密码" name="password" />
      </div>
    </form>
    <button onclick="login()">登录</button>
    <script>
     
      function login() {
        $.ajax({
          url: "/login",
          data: $("#loginForm").serialize(),
          type: "post",
          success: function (data) {
            console.log("返回的token：" + data);
            localStorage.setItem("token", data);
            location.href = "/index.html";
          },
        });
      }
    </script>
  </body>
</html>